
.py-2{
    margin-left: 450px;
}
.navbar {
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

/* causelo */
.cell img{
    width: 170px;
    height: 200px;
    object-fit: cover;
    position: relative; 
}
.cell{
    margin-top:30px;
    width: 20%;
    height: 200px;
    overflow: hidden;
    margin-left: 2px;
 
}
.flickity-page-dots{
    display: none;
}
.tle{
    width: 100%;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 2px #000;
    color: #f4f4f4;
    text-shadow: 1px 2px 2px #000;
    bottom: 0;
    text-align: center;
}
.tle h5{
    margin-top: 3px;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}
.tiltle{
    font-size: 30px;
    border-bottom:1px solid rgb(56, 51, 51) ;
}
@media screen and (max-width:414px){
    .cell img{
        width: 160px!important;
        height: 100px!important;
        object-fit: cover!important; 
    }
    .cell{
        width: 33%!important;
        height: 130px!important ;
        overflow: hidden;
    }
    .py-2{
        margin-left: 0px !important;
    }
    .navbar-toggler {
        margin-left: 120px;
    }
    .flickity-prev-next-button.previous {
        font-size: 10px!important;
        margin-top: 8px!important;
        left: 0px!important;
    }
    .flickity-prev-next-button.next {
        font-size: 10px;
        margin-top: 8px!important;
        right: 0!important;
    }
    .form-select{
        display: none!important;
    }
    
}

/* new  */
.new{
    background-color: white;
    width: 100%;
    height: 460px;
    margin-top: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 5px solid rgba(245, 245, 245, 0.384);
}
.item{
    margin: 5px;
    width:125px ;
    height: 182px;
    position: relative;
    margin-top: 10px;
    float: left;
   
}
.item a img{
    width:100%;
    height:100%;
    object-fit: cover;

}
.item .title{
    width: 100%;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 2px #000;
    color: #f4f4f4;
    bottom: 0;
    text-align: center;
}
.tiltle{
    font-size: 30px;
    border-bottom:1px solid rgb(56, 51, 51) ;
}
.form-select{
    width: 170px!important;
    float: right !important;
}
.form-select2{
    width: 170px!important;
    float: right !important;
    font-size: 20px;
    height: 38.8px;
}
.form-select3{
    width: 170px!important;
    float: right !important;
    font-size: 20px;
    height: 39px;
}
.form-select4{
    width: 190px!important;
    float: right !important;
    font-size: 22px;
    height: 42px;
    margin-top: 5px;
    margin-right: 11px;
}
.form-select5{
    width: 190px!important;
    float: right !important;
    font-size: 18px;
    height: 39px;
    margin-right: 11px;
}
.title h5{
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;

}
@media screen and (max-width:414px){
    .new{
        height: 440px!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }
    .item{
        margin-top: 5px!important;;
        width:85px !important;;
        height: 125px!important;;
        margin: 4px!important;;
    }
    .item a img{
        width:85px!important;;
        height:125px!important;;
        object-fit: cover!important;;
    
    }
    .category{
        display: none;
    }
}

a{
    color: black;
    text-decoration: none
}
/*table-list  */
.table-list{
    margin-top: 50px;
    width: 100%;
    max-height:748px;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 8px solid rgba(245, 245, 245, 0.384);
    margin-bottom: 30px;
}
.table-list h2 a{
    color: black;
    text-decoration: none;
   
}
.table-list h2{
    border-bottom:1px solid rgb(56, 51, 51) ;
    width: 95%;
}
.name{
    font-size: 10px;
}
#chapter-list{
    width: 100%;
    max-height: 900px;
}
.list-chap{
    width: 100%;
    height: 300px;
}
.list-name {
    text-transform: capitalize;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    font-family: "Times New Roman", Times, serif;
    margin-left: 20px;
    padding-top:7px ;
   
}
.list-name a{
    color: black;
    text-decoration: none
}
.label-new {
    border: 1px solid #8EB3FD;
    color: #8EB3FD;
}
.list-category a{
    color: black;
    text-decoration: none
}
.list-chapter-index a{
    color: black;
    text-decoration: none
}
.list-chapter li {
    margin-top: 5px;
}
.label-title {
    padding: 1px 3px;
    font-size: 13px;
    vertical-align: bottom;
    margin-left: 5px;
}
.label-new::before {
    content: "Mới";
}
.label-full {
    border: 1px solid #20edfc;
    color: #20edfc;
}
.label-full::before {
    content: "Full";
}
.label-hot {
    border: 1px solid #e00909;
    color: #da1010;
}
.label-hot::before {
    content: "Hot";
}
.list-category {
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    border-left: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    padding: 0 10px;
    font-family: "Times New Roman", Times, serif;
}
.list-chapter-index{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    border-left: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    text-transform: capitalize;
    font-family: "Times New Roman", Times, serif;
}
.list-time{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
    border-left: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    border-right:1px dashed #CCC ;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width:414px){
    .list-name {
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
        margin-left:0px !important;
        font-size: 15px;

    }
    .list-chapter-index{
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
        font-size: 12px !important;
        border-right: 2px dashed #CCC !important;

    }
    
    .list-category{
        display: none;
    }
    .list-time{
        display: none;
    }
    .label-title {
        padding: 1px 2px  !important;
        font-size: 10px  !important;
        vertical-align: bottom;
        margin-left: 3px;
    }
    .table-list{
        height: 450px;
    }
}


/* left */
/* #themeleft{
    width: 280px;
} */

#recommendedcategory{
    margin: 5px;
    margin-top: 20px;
    max-width: 100%;
    max-height: 448px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}
.title-list {
    margin-top: 20px;
    text-align: left;
    margin: 10px;
    position: relative;  
    color: blue;  
    border-bottom: 1px solid #b5b5b5;
}
.list-truyen a{
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 20px;
    display: table-cell;
}
.list-truyen{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row a{
    color: black;
    text-decoration: none
}
/* review */
.chat-on{
    margin: 10px;
    margin-left: 10px;
    width: 100%;
    height: 340px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.chat-on h4{
    color: blue;
    margin-left: 0;
}
.imgshow{
    margin:5px ;
}
.responsive{
    width: 90px;
    height: auto;
    margin-left: 8px;
}
.contenimg{
    font-size: 12px;
    height: 54px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

}

.top-story-hot{
    margin-top: 50px;
    background-color: white;
}

.label-2::before {
    content: "02";
    color: #41f047;
}
.label-3::before {
    content: "03";
    color: #1fe4eb;
}
.label-4::before {
    content: "04";
    color: #cf2dc2;
}
.label-5::before {
    content: "05";
    color: #f0bd16;
}
.label-6::before {
    content: "06";
    color: #dace32;
}
.label-7::before {
    content: "07";
    color: #13e7e7;
}
.label-8::before {
    content: "08";
    color: #e62faf;
}
.label-9::before {
    content: "09";
    color: #e6138e;
}
.label-10::before {
    content: "10";
    color: #000000;
}
.label-1::before {
    content: "01";
    color: red!important;
}
.lable-top:before {
    width: 50px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: -.5px;
    float: left;
}
.truyenhay{
    height: 60px;
    display: block;
}
.tentruyen a {
    font-size: 14px;
    font-weight: 600;
    max-height: 34px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;   
}
p{
    color: #757575;
    font-size: 11px;
}




.story-fuul {
    width: 100%;
    height: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
    border: 8px solid rgba(245, 245, 245, 0.384);
}
.fullstori{
    width: 175px;
    height:287px;
    margin-top: 10px;
    position: relative;
    float: left;
    margin: 4px;
     
}
.fullstori img{
    width: 169px;
    height: 210px;
    object-fit: cover;
}
.label-ful {
    color: rgb(109, 120, 121);
}
.label-ful::before {
    content: "Full";
    font-size: 18px;
}
.label-titl {
    padding: 1px 3px;
    margin-left: 70px;
}
.namestorifull {
    display: block;
}
.namestorifull h4{
    margin: 2px;
    font-size: 15px;
    max-height: 60px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
.namestorifull span{
    text-align: center;
}

.footer{
    margin-top: 40px;
}
.tentruyen a {
    /* float: left; */
    margin: 2px;
}
.tentruyen a p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
}
.heading{
    color: tomato;
}
@media screen and (max-width:414px){
    .fullstori {
        margin-left: 50px;
    }
    .story-fuul {
        height: 920px!important;
    }
    .top-story-hot{
        margin-left: 10px;
    }
}
/* //////////////////////////////////////// Danh mục truyện ////////////////////////////////////////////////////// */
a{
    color: black;
    text-decoration: none
}
.col-truyen-main img{
    margin-top: 10px;
    width: 210px;
    height: 280px;
    object-fit: cover;
    float: left;
    display: block ;
    padding-left: 20px;
}
.title-list {
    margin-top: 20px;
    text-align: left;
    margin: 10px;
    position: relative;    
    border-bottom: 1px solid #b5b5b5;
}
.info-holder .info {
    padding: 5px;
    margin-top: 5px;
    margin-right: 15px;
    font-family: "Roboto Condensed",Tahoma,sans-serif;
    float: left;
    display: block;
}
.info-holder h4{
    font-size: 13px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 3px;
    text-align: right;
    font-weight: 700;
    display: inline;
    width: 100%;
}
.info-holder a {
    font-size: 13px;
}
.desct {
    max-height: 285px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.desct .desc-text {
    margin-top: 10px;
    height: 260px;
    font-size: 12px;
    text-align: left;
    font-family: arial,sans-serif;
}
.desct h3.title {
    width: 100%;
    font-size: 25px;
    margin: 0 0 15px;
    border-bottom: 1px solid #b5b5b5;
    text-transform: uppercase;
    float: right;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.list-chapter{
    list-style: none;
    padding-left: 20px;
    text-align: left;
    margin: auto;
    font-family: roboto condensed,Tahoma,sans-serif;
    max-height: 250px;
}
.pagination{
    padding-left: 220px !important;
    height: 36px;
    margin: 18px 0;
    color: #6c58bF;
}
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    background-color: rgb(116, 109, 116);
    border-color: #ddd;
}
.hot-1{
    font-size: 18px;
    margin-top: 10px;
}
.hot-1 h3 a{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    vertical-align: top;
    line-height: 2 ;
    clear: none;
    float: left;
}
.s-theloai{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px; 
    margin-left: 12px;   
    margin-top: 20px;
    max-width: 90%;
}
.csstranform1{
    margin-left: 50px;
    margin-right: 50px;
}
.footer{
    margin-left: 50px;
    margin-right: 50px;
}
.name-story{
    text-align: center;
    text-transform: uppercase;
}
#storylef{
    width: 280px;
}
.story-hot{
    margin-top: 30px;
    max-height: 380px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}
.comment{
    background-color: white;
    width: 100%;
    max-height: 800px;
    margin-top: 20px;
}
.comment-face{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    max-height: 440px;
}
.toop{
    float: left;
}
.toop a p {
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
}
/* Trang list thể loại */
.list{
    max-height: 100%;
}
.list-aa h2 {
    border-bottom: 1px solid #b5b5b5;
}
.top h2{
    border-bottom: 1px solid #b5b5b5;
}
.list-aa{
    background-color: white;
    border: 8px solid rgba(245, 245, 245, 0.384);
    max-height: 1440px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list{
    margin-top: 30px;
}
.top{
    background-color: #fff;
    border: 8px solid rgba(245, 245, 245, 0.384);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1440px;
}
.list2{
    max-height: 1070px;
}
.imglist img {
    width: 50px;
    height: 70px;
    padding: 5px;
    object-fit: cover;
}
.toplist {
    max-height: 500px;
}
.toplist h3{
    margin-top: 10px;
    font-size: 18px;
}
.nameTop{
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.liss1{
    max-height: 1070px;
}
.liss1 img{
    margin: 4px;
    width: 90px;
    height: 135px;
    object-fit: cover;
}
@media screen and (max-width:414px){
    .liss1 img{
        width: 290px!important;
        height: 145px!important;
        margin: 0!important;
    }
    .imgss{
        margin: 5px!important;
        margin-left: 0!important;

    }
    .list-aa{
        height: 10000px!important;
    }
    .liss2{
        display: none;
    }
}
.imgss{
    padding: 5px;
    margin-left: 15px;
}
.namess{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    margin-top: 5px;
    margin-right: 15px;
    font-family: "Roboto Condensed",Tahoma,sans-serif;
    float: left;
    display: block;
}

.namess h4{
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 3px;
    text-align: right;
    font-weight: 700;
    display: inline;
    width: 100%;
}
.namess h3{
    font-size: 20px;
    text-transform: uppercase;
}
.liss2 img{
    margin: 4px;
    width: 90px;
    height: 135px;
    object-fit: cover;
}
.form-select{
    float: right;
    width: 150px;
    height: 40px;
}
.left .table-list h2{
    margin-left: 9px;
    width: 91.6%;
    margin-bottom: 0;
    border-bottom: 1px solid #b5b5b5;
    font-family: 'Roboto Slab', serif;
}
.new h2{
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
    width:100%;
}
@media screen and (max-width:414px){
    .desct{
        margin-top: 10px;
    }
    p{
        margin: 10px!important;
    }
    #info-holder {
        width: 100%!important;
    }
    .csstranform1{
        margin: 0!important;
    }
    .desct h3.title{
        font-size: 14px!important;
    }
    .story-hot{
        display: none;
    }
    #chapter2{
        display: none;
    }
    .pagination{
        padding-left: 0px !important;
    }
    .list-chap{
        height: 330px!important;
    }
    
    #storylef .chat-on{
        display: none!important;
    }
    #storylef .top-story-hot{
        display: none!important;
    }
}

/* ///////////////////////////////////////////////////////////////////////// */
.full-story-title {
    color: #007f61;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;  
}
.full-story-chapter{
    text-align: center;
   
}
.full-story-chapter h2 a{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: #ce1414d5;
}
.content_wrap1 p {
    line-height: 2.5;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: #373d3f;
    
}
.form-select1{
    width: 15%;
    height: 35px;
}
.btn-info{
    margin-bottom: 5px;
}
.thanh-cong-cu-tren{
    text-align: center;
}
/* br  {
    content: ' '
} */
@media screen and (max-width:414px){
    .content_wrap1 p {
        font-size: 18px;
        line-height: 1.8;
    }
}
